fastapi
uvicorn
sqlalchemy
psycopg2
asyncpg
python-dotenv
alembic
pydantic[email]
pydantic-settings
redis
pydantic
python-jose[cryptography]
passlib
bcrypt==3.2.2
pgvector
openai
httpx
numpy
scikit-learn
requests
python-multipart
aiofiles
